<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>欢迎来到 <%= title %> 的网站！网站正在建设中！</h1>
    <address>
      作者：liyongfei<br>
      e-mail：<a href="mailto:jiyeking1@gmail.com">jiyeking1@gmail.com</a>
    </address>
  </body>
</html>
