<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include('header')%>
  </head>
  <body>
  <div class="container">
    <h1>欢迎来到 <%= title %> 的网站！网站正在建设中！</h1>
    <div class="row">
      <address>
        作者：liyongfei<br>
        e-mail：<a href="mailto:jiyeking1@gmail.com">jiyeking1@gmail.com</a>
      </address>
    </div>

  </div>
  </body>
</html>
