<!DOCTYPE html>
<html>
<head>
    <title><%= total %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include('../header')%>
</head>
<body>
<div class="container">
    <h1>hello word</h1>
</div>
</body>
</html>